body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.map-container {
  height: 300px;
}

section{
  padding: 0;
  margin: 0;
  background-color: #923a00;
}
ul{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top: 10px solid #f39c12;
  border-left: 10px solid #d35400;
  border-bottom: 10px solid #f39c12;
  border-right: 10px solid #d35400;
  border-width: 15px;
  box-shadow:  0 0 30px rgba(0,0,0,.7);
  overflow: hidden;
}
li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: -1;
}
li:nth-child(1){
  background-color: #f1c40f;
  transform: translate(-50%, -50%);
}
li:nth-child(2){
  background-color: #e67e22;
  transform: translate(50%, -50%);
}
li:nth-child(3){
  background-color: #e74c3c;
  transform: translate(-50%, 50%);
}
li:nth-child(4){
  background-color: #c0392b;
  transform: translate(50%, 50%);
}
ul.circel1{
  animation: animateOne linear 5s infinite;
  /* z-index: 2; */
}
ul.circel2{
  animation: animateTwo linear 2s infinite;
  /* z-index: 1; */
}
ul.circel1roll{
  animation: animateOne linear 5s infinite;
  z-index: 2;
}
ul.circel2roll{
  animation: animateTwoRoll linear 2s infinite;
  z-index: 1;
}
@keyframes animateOne {
  0%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animateTwo {
  0%
  {
    transform: translate(-50%, -50%) rotate(360deg) scale(.4);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(0deg) scale(.4);
  }
}