body {
  font-family: sans-serif;
  background-image: url("./4course-background-tile.png");
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.map-container {
  height: 300px;
}

.main-styles {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*align-content: center;*/
}

.begin-search {
  background-color: #dc143c;
  color: #fff100;
  height: 600px;
  width: 300px;
  font-family: "Permanent Marker";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dc143c;
  border-radius: 2em;
  -webkit-box-shadow: 5px 5px 15px #dc143c;
  -moz-box-shadow: 5px 5px 15px #dc143c;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 15px;
}
.restaurant-container {
  display: flex;
  flex-flow: row wrap;
}
.restaurant-image {
  height: 100px;
  width: 100px;
}
#sushi-pic {
  height: 200px;
  width: 250px;
  border-radius: 2em;
}
.center {
  text-align: center;
}

.button {
  background-color: #dc143c;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bigCircle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 2px 2px 2px 2px darkgray;
  white-space: normal;
}

.normal {
  padding: 10px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.disabled {
  cursor: not-allowed;
  background-color: darkgray;
  color: black;
  opacity: 0.9;
}

.normal:hover {
  opacity: 0.9;
}

.normal:hover {
  opacity: 0.9;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.spin {
  position: absolute;
  top: 70%;
  left: 75%;
  transform:translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.circel1{
  width: 25em;
  height: 25em;
  position: absolute;
  padding: 0;
  margin: 1em auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top: 10px solid #f39c12;
  border-left: 10px solid #d35400;
  border-bottom: 10px solid #f39c12;
  border-right: 10px solid #d35400;
  border-width: 15px;
  box-shadow:  0 0 30px rgba(0,0,0,.7);
  overflow: hidden;
}

li{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  /* list-style: none;
  z-index: -1; */
}
li:first-child .text{
  background-color: #f1c40f;
}
li:nth-child(2) .text{
  background-color: #e67e22;
}
li:nth-child(3) .text{
  background-color: #e74c3c;
}
li:nth-child(4) .text{
  background-color: #c0392b;
}

li:first-child{
  transform: rotate(90deg)
}
li:nth-child(2){
  transform: rotate(180deg)
}
li:nth-child(3){
  transform: rotate(270deg)
}
li:nth-child(4){
  transform: rotate(360deg)
}

.text{
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align:  center;
  display: block;
  transform: rotate(35deg);
  padding-top: 50px;
  font-family:monospace;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #dbdbdb;
}

 ul.circel1{
  animation: animateOne linear .4s infinite;
  animation-delay: .7s;
  z-index: 2;
}

@keyframes animateOne {
  0%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/*HEART ANIMATION*/
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #DC143C;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #DC143C;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


/*BACKGROUND BOX*/
.shape {
  height: auto;
  width: auto;
  background-color: #FFF100; /* #DC143C; */
  border-radius: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  margin-top: 10px;
}
