body {
  font-family: sans-serif;
  background-image: url("./4course-background-tile.png");
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.map-container {
  height: 300px;
}

.main-styles {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*align-content: center;*/
}

.begin-search {
  background-color: #dc143c;
  color: #fff100;
  height: 600px;
  width: 300px;
  font-family: "Permanent Marker";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dc143c;
  border-radius: 2em;
  -webkit-box-shadow: 5px 5px 15px #dc143c;
  -moz-box-shadow: 5px 5px 15px #dc143c;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 15px;
}
.restaurant-container {
  display: flex;
  flex-flow: row wrap;
}
.restaurant-image {
  height: 100px;
  width: 100px;
}
#app {
  background-image: url("./4course-background-tile.png");
  background-repeat: repeat;
}
#sushi-pic {
  height: 200px;
  width: 250px;
  border-radius: 2em;
}
